body {
	
    margin: 0%;padding: 0%;
    font-family: Arial, sans-serif;
}
.sel{min-width:250px}

header {
    width:100%;
    height: 100px; 
	background-color:white;
    z-index: 1000;
    margin: 0%;padding:0% ;box-sizing: border-box;
	 
}
#productForm{
	display:flax;
	flex-direction: column;
	align-items:center;
	margin-top: 50px;
	width: 60vw;
	margin-right: 20vw;

}

.product{width:clamp(250px,30vw,300px);
	 display:flax;
	flex-direction: column;
	align-items:center;
	}
#btnsend{background-color: darkgreen;color: white;margin-top: 30px;font-weight: bold;}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#alert-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    width: 90%; /* מתאים למסכים קטנים */
    max-width: 400px; /* מגביל למסכים גדולים */
    box-sizing: border-box; /* מבטיח שאין גלילה בגלל padding */
}

#alert-box h2 {
    margin: 0 0 10px;
}

#alert-box p {
    margin: 0 0 20px;
    color: #555;
}

#accept-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#accept-btn:hover {
    background-color: #45a049;
}

.logo{	float: left;padding: 0px;width: 100px;height: 100px;
margin-left: 35px;margin-top: 2vh;}
.shimushbaatar{float: right;padding: 10px;width: 80vw;height: auto;
	margin-right: 10vw;margin-top:30px;display: block;flex-direction: column;
	align-items:flex-end;text-align: right;border-radius: 10px;border: 1px solid blue;color: black;
box-sizing: border-box;margin-left:10vw;display:none;
	      margin-bottom:10px;}


header h3 {margin-top:-10px;font-size: 25px;
	color: rgb(89,237,89);
	width: 100vw;
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;

}

nav{
    display: flex;
    justify-content: space-between; /* מחלק את האלמנטים באופן שווה */
    align-items: center;
	box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1), 0px -3px 0px rgba(0, 0, 0, 0.1);
	width: 95vw;
	box-sizing: border-box;
	margin:30px auto 10px;
	


}

.allmenu{
	display:flex;
	flex-direction: row;
	justify-content: right;
	background-color: white;
}
.allmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}
.allmenu ul a {
	text-decoration: none;
	color: #333;
}
.bar1,.bar2,.bar3{width: 35px;height: 4px;margin: 7px;
	background-color: #333;z-index: 10;transition: 0.4s;}
.tafrit{
	display: none;
}
.ser h3{
	margin: 0;
	font-size: 1.5rem;
	color: #333;
	line-height: 50px;
	text-align: center;
	width: clamp(150px, 20vw, 200px);
	cursor: pointer;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: clamp(150px, 20vw, 200px);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.ser{margin-left:25px;}
nav .ser:hover .dropdown-content{
	display: block;
}
nav .ser:hover{
	background-color: rgb(212, 204, 204);
}
.ser li{
	line-height: 40px;
	text-align: right;
	padding-right: clamp(0px, 2vw, 45px);

}
.ser li:hover {
	background-color: #333;
	
}
.ser li:hover a{
	color: white;
}
.bar1,.bar2,.bar3{width: 35px;height: 4px;margin: 7px;
 background-color: #333;z-index: 10;transition: 0.4s;}


 .tblMuzarim{width: 95vw;display: flex;justify-content: right;
	padding: 0% 5px 0 0;margin: 0%;box-sizing: border-box;}
 
h2 a {
    position: absolute ; 
    left: 10px ; 
    font-size: 0.8em ;
    background-color: green ;color: white ;
    white-space: nowrap ;
	cursor: pointer ;
	text-decoration: none;
}


 h4{text-align: center;font-size: 14px;font-weight: bold;}
 
 tr:nth-child(even) {background-color: rgb(237, 229, 229);}
 
h4,.allTheTables{margin:0 auto 10px;}
.allTheTables{display: flex;flex-direction: column;align-items:center;font-size: 12px;
	margin-right: 2.5vw;}
.tblMuzarim{width: 80vw;box-sizing: border-box;padding: 0%;
	   white-space:nowrap;
	    overflow:hidden;
	   }
.tbl{margin: 10px;}
.tdmh,.tdsmall{width:4vw;}
.tdbig{width:25vw;}
#allTheTables h2{text-align: center;line-height: 18px;font-size: 16px;
	vertical-align: middle;background-color: green;color: white;width: 80vw;
	position: relative; box-sizing: border-box;}

#productForm {width: 30vw;margin-right: 30vw;margin-left: 30vw;height: 200px;
	background-color: blue;
border: 1px solid rgba(0, 0, 0, 0.2);display: flex;flex-direction: column;}	
.product{display: flex;justify-content: space-between;margin-top: 10px;}
#productForm select{width: 200px;font-size: 16px;margin-left: 30px;
padding: 5px 10px;margin: 5px 30px}
#productForm label{line-height: 18px;font-size:16px;vertical-align: middle;
	padding:5px 10px;font-weight: bold;color: white;width: 200px;
}
.sbmitbutton{width: 100px;height: 30px;background-color: #136817;color: white;
font-size: 16px;font-weight: bold;margin-right: 20vw;margin-top: 10px;}
#filter{display: none;}
.madadSherutKot{font-size: 1.2rem;white-space: nowrap;}
 @media only screen and (max-width: 1200px){
 .ser h3{ font-size: 1.3rem;}

 .tblMuzarim{width: 90vw;box-sizing: border-box;padding: 0%;}
.tbl{margin: 10px;}
.tdmh,.tdsmall{width:4vw;}
.tdbig{width:30vw;white-space: nowrap;}
#allTheTables h2{text-align: center;line-height: 18px;font-size: 16px;
	vertical-align: middle;background-color: green;color: white;width: 90vw;
	position: relative; box-sizing: border-box;}
  }
  @media only screen and (max-width: 1024px){
	
   
	
   .tbl{font-size: 10px;}
   
	 }
 
@media only screen and (max-width: 850px){
	#filter label{text-align: center;}
	.mainMadadSherut{margin-top: 40px;}
	.imgMadad{max-width: 80vw;height: auto;}
	#productForm {background-color: white;}
	#productForm select, .sbmitbutton {width: 80%;font-size: 14px;
		padding: 5px 0px;margin:0 10%;text-align: center;}
	
		
	
	#productForm label{background-color: blue;font-weight: bold;color: white;}	
	.sbmitbutton{margin-top: 10px;}
	.product{flex-direction: column;}
	#productForm{width: 90vw;margin:5px 5vw 5vw 20px;height: auto;padding: 10px 0px;}
	#overlay h2{font-size:14px;}
	#alert-box {width:80vw;font-size:12px;
	margin-left:10vw; margin-right:10vw;}
	.shimushbaatar{width: 80vw;font-size:12px;
	display:none; margin-right:10vw;}
	.allTheTables{align-items:center;width: 100vw;}
	.tbl{font-size: 12px;}
	.tblMuzarim{width: 100%;flex-direction: column;align-items: center;margin: 0%;
	padding: 0%;}
	.tdsmall{width:10vw;box-sizing: border-box;margin: 0%;text-align: center;}
 	.tdbig{max-width: 40vw;box-sizing: border-box;margin: 0%;
	      white-space:nowrap;overflow:hidden;}
	 .tdmh{width:3vw}
	table,#allTheTables h2{width:95vw ;margin-left: 2.5vw;margin-right: 2.5vw;}
	
	.logo{margin-bottom: 5px;}
	nav{box-shadow:  0px -3px 0px rgba(0, 0, 0, 0.1); }
  .tafrit{display: block;max-width: 40vw;margin-right: 20px;}
  .ser{display: none;margin-left:0px}
  .sera{display: block;margin-left:0px;}
  .allmenu{	display:block;}
.allmenu,.ser h3,.ser ul, .ser li, .ser a{width:100%; text-align:right;
	box-sizing:border-box;}

.ser li,.ser h3 {border-bottom:1px solid rgba(0,0,0,0.1);}
.ser h3,.ser li{padding-right:30vw;}

 /*
.change .bar1 {transform: translate(0, 11px) rotate(-45deg);background-color: rgb(89, 227, 89);}
.change .bar2 {opacity: 0;}
.change .bar3 { transform: translate(0, -11px) rotate(45deg);background-color: rgb(89, 227, 89);}
 */
	#ser{margin-top:5px;}
}
@media only screen and (max-width: 600px){
	.madadSherutKot{font-size: 18px;}
	
	.tafrit{margin-right: 10px;}
	 td:nth-child(1) {
		display: none;
	}
	table{font-size: 12px;}
	table,.tdsmall,.tdbig{border-collapse: collapse;
		border-left: 1px solid rgba(0,0,0,0.2);border-right: 1px solid rgba(0,0,0,0.2);}

	}
@media only screen and (max-width: 450px){
	.madadSherutKot{font-size: 14px;}
	table{margin: 5px;font-size: 9px;}
	.tafrit{margin-right: 5px;}
	}
